body {
  font-family: Arial, sans-serif;
  padding: 2% 5%;
  background-color: rgb(90, 137, 136);
}

form {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 2% 5%;
}

fieldset {
  margin-bottom: 10px;
  padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"],
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
  opacity: 0.8;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(146, 186, 180);
  overflow-x: hidden;
}

table,
th,
td {
  border: 1px solid rgb(131, 131, 131);
  padding: 10px;
  text-align: left;
  border-radius: 8px;
}

th {
  background-color: #f2f2f2;
}
